<h1 mat-dialog-title>
  <a [routerLink]="['']">
    <mat-icon fontIcon="arrow_back"></mat-icon>
  </a>
  <p>back to select data source</p>
</h1>
<div class="mat-card-container">
  <form [formGroup]="createEmptyForm">
    <mat-form-field>
      <mat-label>Name:</mat-label>
      <input matInput formControlName="name"/>
    </mat-form-field>
    <div formArrayName="columns">
      <div [formGroupName]="i" *ngFor="let column of columns.controls; let i = index">
        <mat-form-field>
          <mat-label>Name:</mat-label>
          <input matInput formControlName="column"/>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
